﻿@using BCRM.BXH.ThaiLand.Entity
@using BCRM.BXH.ThaiLand.Models
@using BCRM.BXH.ThaiLand.Library
@using BCRM.BXH.ThaiLand.Language
@model Customer
@{
    Layout = null;
    var currentUser = (UserAuthenticateModel)ViewBag.CurrentUser;
    var lstCity = (List<City>)ViewBag.ListCity;
    var lstRegion = (List<Region>)ViewBag.ListRegion;
    var listCompany =(List<Company>)ViewBag.ListCompany;
}
<div class="portlet box blue">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-plus"></i>@LanguageRes.BoxTitle_AddNewCustomer
        </div>
        <div class="tools">
            <a href="javascript:;" class="collapse"></a>
            <a href="javascript:;" class="remove" id="lnkRemoveCreateCustomer" control-relation='lnkRemoveListCustomer'></a>
        </div>
    </div>
    <div class="portlet-body forget-form">
        <form action="#" id="frmCreateCustomer" class="form-horizontal">
            <div class="row-fluid">
                <div class="span6">
                    <div class="control-group">
                        <label class="control-label" for="txtFullName">
                            @LanguageRes.Lb_CusAdd_Fullname <span class="required">*</span>
                        </label>
                        <div class="controls">
                            <input id="txtFullName" maxlength="200" value="@Model.FullName" type="text" class="m-wrap span12" data-trigger="hover" />
                        </div>
                    </div>
                </div>
                <div class="span6">
                    <div class="control-group">
                        <label class="control-label" for="txtPhoneNumber">
                            @LanguageRes.Lb_CusAdd_PhoneNumber <span class="required">*</span>
                        </label>
                        <div class="controls input-icon">
                            <input id="txtPhoneNumber" type="tel" pattern="[0-9]*" maxlength="15" value="" class="m-wrap phone-number span12" />
                        </div>
                    </div>
                </div>

            </div>

            <div class="row-fluid">
                <div class="span6">
                    <div class="control-group">
                        <label class="control-label" for="txtEmail">
                            @LanguageRes.Lb_CusAdd_Email 
                        </label>
                        <div class="controls">
                            <div class="input-icon left">
                                <i class="icon-envelope"></i>
                                @Html.TextBoxFor(m => m.Email, new { id = "txtEmail", @class = "m-wrap span12", placeholder = @LanguageRes.Lb_CusAdd_Email })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="span6">
                    <div class="control-group">
                        <label class="control-label" for="ddlType">
                            @LanguageRes.Lb_CusAdd_TypeOfCustomer <span class="required">*</span>
                        </label>
                        <div class="controls">
                            @Html.DropDownListFor(m => m.Type, new SelectList(Helper.ListTypeOfCustomerName(), "Key", "Value"), new { id = "ddlType", @class = "m-wrap span12" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span6">
                    <div class="control-group">
                        <label class="control-label" for="ddlCity">
                            @LanguageRes.Lb_CusAdd_Region <span class="required">*</span>
                        </label>
                        <div class="controls">
                            <select id="ddlRegion" class="m-wrap span12 chosen" data-placeholder="--Region--" rid="@Model.RegionId">
                                @foreach (var region in lstRegion)
                                {
                                    <option value="@region.Id">@region.Name</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
                <div class="span6">
                    <div class="control-group">
                        <label class="control-label" for="ddlCity">
                            @LanguageRes.Lb_CusAdd_ProvinceCity <span class="required">*</span>
                        </label>
                        <div class="controls">
                            <select id="ddlCity" class="m-wrap span12 chosen" data-placeholder="--City--" cid="@Model.CityId">
                                <option value="">@LanguageRes.Option_CusAdd_NoProvince</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span6">
                    <div class="control-group">
                        <label class="control-label" for="ddlDistrict">
                            @LanguageRes.Lb_CusAdd_District
                        </label>
                        <div class="controls">
                            <select id="ddlDistrict" class="m-wrap span12 chosen" data-placeholder="--District--" did="@Model.DistrictId">
                                <option value="">@LanguageRes.Option_CusAdd_NoDistrict</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="span6">
                    <div class="control-group">
                        <label class="control-label" for="txtAddress">
                            @LanguageRes.Lb_CusAdd_Address <span class="required">*</span>
                        </label>
                        <div class="controls">
                            @Html.TextBoxFor(m => m.Address, new { id = "txtAddress", @class = "m-wrap span12" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span6">
                    <div class="control-group">
                        <label class="control-label" for="ddlCompany">
                            @LanguageRes.Lb_CusAdd_Company
                        </label>
                        <div class="controls">
                            <select id="ddlCompany" class="m-wrap span12 chosen" data-placeholder="--Company--" did="@Model.DistrictId">
                                <option value="0">@LanguageRes.Option_CusAdd_NoCompany</option>
                                @foreach (var item in listCompany)
                                {
                                  <option value="@item.Id">@item.Name</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
                <div class="span6">
                    <div class="control-group">
                        <label class="control-label" for="txtAssignTo">
                            @LanguageRes.Lb_CusAdd_AssignTo
                        </label>
                        <div class="controls">
                            <input id="txtAssignTo" type="text" class=" m-wrap popovers span12" value="@currentUser.UserName" readonly="readonly" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    <div class="control-group">
                        <label class="control-label" for="txaDescription">
                            @LanguageRes.Lb_CusAdd_Description
                        </label>
                        <div class="controls">
                            @Html.TextAreaFor(m => m.Description, new { id = "txaDescription", @class = "ckeditor m-wrap span12", rows = "6" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-actions">
                <div class="span12">
                    <button type="button" id="btnAddNewCustomer" class="btn blue" title="">
                        <i class="icon-save"></i>
                        @LanguageRes.Button_Save
                    </button>
                    <button type="button" id="btnCloseCustInput" class="btn blue" title="">
                        <i class="icon-remove"></i>
                        @LanguageRes.Button_Close
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

