﻿@using BCRM.BXH.ThaiLand.Models
@using BCRM.BXH.ThaiLand.Language
@model CustomerDetailModel
@{
    Layout = null;
}
<div class="portlet box blue">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-plus"></i>@LanguageRes.BoxTitle_CustomerDetail
        </div>
        <div class="tools">
            <a href="javascript:;" class="collapse"></a>
            <a href="javascript:;" class="remove" id="lnkRemoveCustomerDetail" control-relation='btnAddNew'></a>
        </div>
    </div>
    <div class="portlet-body forget-form">
        <form action="#" id="frmeCustomerDetail" class="form-horizontal">
            <div class="row-fluid">
                <div class="span6">
                    <div class="control-group">
                        <label class="control-label">
                            @LanguageRes.Lb_CusAdd_Fullname :
                        </label>
                        <div class="controls">
                            <label style="margin-top: 5px;">@Model.FullName </label>
                        </div>
                    </div>
                </div>
                <div class="span6">
                    <div class="control-group">
                        <label class="control-label">
                            @LanguageRes.Lb_CusAdd_PhoneNumber :
                        </label>
                        <div class="controls input-icon">
                            <label style="margin-top: 5px;">@Model.PhoneNumber </label>
                        </div>
                    </div>
                </div>

            </div>


            <div class="row-fluid">
                <div class="span6">
                    <div class="control-group">
                        <label class="control-label">
                            @LanguageRes.Lb_CusAdd_Region :
                        </label>
                        <div class="controls">
                            <label style="margin-top:5px;">@Model.RegionName </label>
                        </div>
                    </div>
                </div>
                <div class="span6">
                    <div class="control-group">
                        <label class="control-label">
                            @LanguageRes.Lb_CusAdd_ProvinceCity :
                        </label>
                        <div class="controls">
                            <label style="margin-top:5px;">@Model.CityName </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span6">
                    <div class="control-group">
                        <label class="control-label">
                            @LanguageRes.Lb_CusAdd_District :
                        </label>
                        <div class="controls">
                            <label style="margin-top:5px;">@Model.DistrictName </label>
                        </div>
                    </div>
                </div>
                <div class="span6">
                    <div class="control-group">
                        <label class="control-label">
                            @LanguageRes.Lb_CusAdd_Address :
                        </label>
                        <div class="controls">
                            <label style="margin-top:5px;">@Model.Address </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span6">
                    <div class="control-group">
                        <label class="control-label">
                            @LanguageRes.Lb_CusAdd_Email :
                        </label>
                        <div class="controls">
                            <label style="margin-top:5px;">@Model.Email </label>
                        </div>
                    </div>
                </div>
                <div class="span6">
                    <div class="control-group">
                        <label class="control-label">
                            @LanguageRes.Lb_CusAdd_Company :
                        </label>
                        <div class="controls">
                            <label style="margin-top:5px;">@Model.CompanyName </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span6">
                    <div class="control-group">
                        <label class="control-label">
                            @LanguageRes.Lb_CusAdd_AssignTo :
                        </label>
                        <div class="controls">
                            <label style="margin-top:5px;">@Model.AssignTo </label>
                        </div>
                    </div>
                </div>
                <div class="span6">
                    <div class="control-group">
                        <label class="control-label">
                            @LanguageRes.Lb_CusDetail_TimesRejection :
                        </label>
                        <div class="controls">
                            <label style="margin-top:5px;">@Model.SumRejectionTimes </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span6">
                    <div class="control-group">
                        <label class="control-label">
                            @LanguageRes.Lb_CusDetail_LastUpdatedBy :
                        </label>
                        <div class="controls">
                            <label style="margin-top:5px;">@Model.LastModifiedBy </label>
                        </div>
                    </div>
                </div>
                <div class="span6">
                    <div class="control-group">
                        <label class="control-label">
                            @LanguageRes.Lb_CusDetail_LastUpdatedDate :
                        </label>
                        <div class="controls">
                            <label style="margin-top:5px;">@(Model.LastModifiedDate == null || Model.LastModifiedDate.Value == DateTime.MinValue ? "" : Model.LastModifiedDate.Value.ToString("dd/MM/yyyy HH:mm:ss") ) </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span6">
                    <div class="control-group">
                        <label class="control-label">
                            @LanguageRes.Lb_CusAdd_TypeOfCustomer :
                        </label>
                        <div class="controls">
                            <label style="margin-top:5px;">@Model.TypeOfCustomerName </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span10">
                    <div class="control-group">
                        <label class="control-label">
                            @LanguageRes.Lb_CusAdd_Description :
                        </label>
                        <div class="controls">
                            <label style="margin-top:5px;">@Html.Raw(Model.Description)  </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-actions">
                <div class="span12">
                    <button type="button" name="close" class="btn blue" title="close">
                        <i class="icon-remove"></i>
                        @LanguageRes.Button_Close
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="portlet box purple">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-plus"></i> @LanguageRes.BoxTitle_ActivityDetail
        </div>
        <div class="tools">
            <a href="javascript:;" class="collapse"></a>
            <a href="javascript:;" class="remove" id="lnkRemoveCustomerActivityHistory" control-relation='lnkRemoveListCustomer'></a>
        </div>
    </div>
    <div class="portlet-body forget-form">
        <table class="table table-hover table-striped">
            <tr>
                <th>@LanguageRes.Column_CusDetail_Action </th>
                <th>@LanguageRes.Column_CusDetail_OldValue </th>
                <th>@LanguageRes.Column_CusDetail_NewValue </th>
                <th>@LanguageRes.Column_CusDetail_Note </th>
                <th>@LanguageRes.Column_CusDetail_CreatedBy </th>
                <th>@LanguageRes.Column_CusDetail_CreatedDate </th>
            </tr>
            @foreach (var item in Model.LstActivityHistory)
            {
                <tr>
                    <td>@item.Action</td>
                    <td>@item.OldValue</td>
                    <td>@item.NewValue</td>
                    <td>@item.Note</td>
                    <td>@item.UpdatedBy</td>
                    <td>@item.UpdatedDate.ToString("dd/MM/yyyy HH:mm:ss")</td>
                </tr>
            }
        </table>
    </div>
</div>