﻿@using BCRM.BXH.ThaiLand.Entity
@using BCRM.BXH.ThaiLand.Models
@using BCRM.BXH.ThaiLand.Library
@using BCRM.BXH.ThaiLand.Language
@model CustomerEditModel
@{
    Layout = null;
    var currentUser = (UserAuthenticateModel)ViewBag.CurrentUser;
    var lstCity = (List<City>)ViewBag.ListCity;
    var lstRegion = (List<Region>)ViewBag.ListRegion;
    var listCompany = (List<Company>)ViewBag.ListCompany;
}
<div class="portlet box blue">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-plus"></i>Update Customer
        </div>
        <div class="tools">
            <a href="javascript:;" class="collapse"></a>
            <a href="javascript:;" class="remove" id="lnkRemoveCreateCustomer" control-relation='lnkRemoveListCustomer'></a>
        </div>
    </div>
    <div class="portlet-body forget-form">
        <form action="#" id="frmUpdateCustomer" class="form-horizontal">
            <div class="row-fluid">
                <div class="span6">
                    <div class="control-group">
                        <label class="control-label" for="txtFullName">
                            @LanguageRes.Lb_CusAdd_Fullname <span class="required">*</span>
                        </label>
                        <div class="controls">
                            @if (Model.IsAdmin)
                            {
                                <input id="txtFullName" maxlength="200" value="" type="text" class="m-wrap span12" data-trigger="hover" />
                            }
                            else
                            {
                                <input id="txtFullName" disabled="disabled" maxlength="200" value="" type="text" class="m-wrap span12" data-trigger="hover" />
                            }
                        </div>
                    </div>
                </div>
                <div class="span6">
                    <div class="control-group">
                        <label class="control-label" for="txtFullName">
                            @LanguageRes.Lb_CusAdd_PhoneNumber <span class="required">*</span>
                        </label>
                        <div class="controls">
                            @if (Model.IsAdmin)
                            {
                                <input id="txtPhoneNumber" maxlength="200" value="" type="tel" pattern="[0-9]*" class="m-wrap span8" data-trigger="hover" />
                            }
                            else
                            {
                                <input id="txtPhoneNumber" disabled="disabled" maxlength="200" value="" type="tel" pattern="[0-9]*" class="m-wrap span8" data-trigger="hover" />
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span6">
                    <div class="control-group">
                        <label class="control-label" for="txtEmail">
                            @LanguageRes.Lb_CusAdd_Email 
                        </label>
                        <div class="controls">
                            <div class="input-icon left">
                                <i class="icon-envelope"></i>
                                @if (Model.IsAdmin)
                                {
                                    @Html.TextBox("Email", "", new { id = "txtEmail", @class = "m-wrap span12", placeholder = "Email Address" })
                                }
                                else
                                {
                                    @Html.TextBox("Email", "", new { id = "txtEmail", @class = "m-wrap span12", placeholder = "Email Address", disabled = "disabled" })
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="span6">
                    <div class="control-group">
                        <label class="control-label" for="ddlType">
                            @LanguageRes.Lb_CusAdd_TypeOfCustomer <span class="required">*</span>
                        </label>
                        <div class="controls">
                            @Html.DropDownList("Type", new SelectList(Helper.ListTypeOfCustomerName(), "Key", "Value"), "--Type Of Customer--", new { id = "ddlType", @class = "m-wrap span12" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span6">
                    <div class="control-group">
                        <label class="control-label" for="ddlCity">
                            @LanguageRes.Lb_CusAdd_Region <span class="required">*</span>
                        </label>
                        <div class="controls">
                            <select id="ddlRegionEdit" class="m-wrap span12 chosen" data-placeholder="--Region--">
                                @foreach (var region in lstRegion)
                                {
                                    <option value="@region.Id">@region.Name</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
                <div class="span6">
                    <div class="control-group">
                        <label class="control-label" for="ddlCity">
                            @LanguageRes.Lb_CusAdd_ProvinceCity <span class="required">*</span>
                        </label>
                        <div class="controls">
                            <select id="ddlCityEdit" class="m-wrap span12 chosen" data-placeholder="--Province--">
                                <option value="">--City--</option>
                                @foreach (var city in lstCity)
                                {
                                    <option value="@city.Id">@city.Name</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span6">
                    <div class="control-group">
                        <label class="control-label" for="ddlDistrict">
                            @LanguageRes.Lb_CusAdd_District
                        </label>
                        <div class="controls">
                            <select id="ddlDistrictEdit" class="m-wrap span12 chosen" data-placeholder="--District--">
                                <option value="0">--District--</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="span6">
                    <div class="control-group">
                        <label class="control-label" for="txtAssignTo">
                            @LanguageRes.Lb_CusAdd_Address <span class="required">*</span>
                        </label>
                        <div class="controls">
                            <input id="txtAddress" type="text" class=" m-wrap popovers span12" value="" />
                        </div>
                    </div>
                </div>

            </div>
            <div class="row-fluid">
                <div class="span6">
                    <div class="control-group">
                        <label class="control-label" for="ddlCompany">
                            @LanguageRes.Lb_CusAdd_Company
                        </label>
                        <div class="controls">
                            <select id="ddlCompanyEdit" class="m-wrap span12 chosen" data-placeholder="--Company--">
                                <option value="0">--Company--</option>
                                @foreach (var item in listCompany)
                                {
                                    <option value="@item.Id">@item.Name</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
                <div class="span6">
                    <div class="control-group">
                        <label class="control-label" for="txtAssignTo">
                            @LanguageRes.Lb_CusAdd_AssignTo
                        </label>
                        <div class="controls">
                            <input id="txtAssignTo" type="text" class=" m-wrap popovers span12" value="@currentUser.UserName" readonly="readonly" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    <div class="control-group">
                        <label class="control-label" for="txaDescription">
                            @LanguageRes.Lb_CusAdd_Description
                        </label>
                        <div class="controls">
                            @Html.TextArea("Description", new { id = "txaDescriptionUpdate", @class = "ckeditor m-wrap span12", rows = "6" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-actions">
                <div class="span12">
                    <button type="button" id="btnUpdateCustomer" class="btn blue" title="Lưu các thông tin đã nhập vào hệ thống">
                        <i class="icon-save"></i>
                        @LanguageRes.Button_Save
                    </button>
                    <button type="button" id="btnCloseInput" class="btn blue" title="Đóng chức năng nhập dữ liệu lại và quay về danh sách khách hàng">
                        <i class="icon-remove"></i>
                        @LanguageRes.Button_Close
                    </button>
                    @Html.Hidden("Id", "", new { id = "hidCustomerId" })
                </div>
            </div>
        </form>
    </div>
</div>
