﻿@using BCRM.BXH.ThaiLand.Library
@using BCRM.BXH.ThaiLand.Models
@using BCRM.BXH.ThaiLand.Language

@model CustomerForIndex
@{
    Layout = null;
    var index = (int)ViewBag.Index;
    var current = (UserAuthenticateModel)ViewBag.CurrentUser;
    var isPermit = current.HasRole(RoleSystem.Admin, RoleSystem.Manager);
}

<td name="wrapIndex">
    @(index++)
</td>
@if (Model.Id <= 0)
{
    <td id="colCustomerInfo">
        <a href="#">FullName</a>@(": ")
        <span>
            New Customer
        </span>
    </td>
    <td id="colStatus"></td>
    <td id="colPhoneNumber">@Model.PhoneNumber.WrapPhoneNumber()</td>
    <td id="colAssignTo"></td>
    <td class="action">
        <a class="btn mini blue add w60 align-left" title="Add New Customer">
            <i class="icon-plus"></i>
            Add New
        </a>
    </td>
}
else
{
    <td id="colCustomerInfo">
        <a href="#">@(LanguageRes.Lb_CusSearch_FullName)</a>@(": ")
        <span class="name">
            @(string.IsNullOrEmpty(Model.FullName) ? "" : Model.FullName)
        </span>
        @if (Model.IsDeleted)
        {
            <i class="icon-lock" title="this customer is blocked"></i>
        }

        @if (Model.IsBlacklist)
        {
            <span class="label label-default">Blacklisted</span>
        }
        <br />
        <a href="#">@(LanguageRes.Lb_CusSearch_Email)</a>@(": ")<span class="modify">@Model.Email</span>
        <br />
        <a href="#">@(LanguageRes.Lb_CusSearch_Company)</a>@(": ")<span class="modify">@Model.CompanyName</span>
        <br />
        <a href="#">@(LanguageRes.Lb_CusSearch_CityDistrict)</a>@(": ")<span class="modify">@(Model.CityName) @(string.IsNullOrEmpty(Model.DistrictName) ? "" : "/" + Model.DistrictName)</span>
        <br />
        <a href="#">@(LanguageRes.Lb_CusSearch_NoPostedNews)</a>@(": ") <span class="modify">@Model.SumPostingNews</span>
        <br />
        <a href="#">@(LanguageRes.Lb_CusSearch_LastModifiedDate)</a>@(": ")<span class="modify">@string.Format("{0:dd/MM/yyyy}", Model.LastModifiedDate)</span>
        @(",")
        <a href="#">@(LanguageRes.Lb_CusSearch_CareDate)</a>@(": ")<span class="care">@string.Format("{0:dd/MM/yyyy}", Model.CareDate)</span>
        <br />
        <a href="#">@(LanguageRes.Lb_CusSearch_TypeOfCustomer)</a>@(": ")<span class="label type">@(((TypeOfCustomer)Model.Type).ToTypeOfCustomerName())</span>
    </td>
    <td id="colPhoneNumber">
        @Model.PhoneNumber.WrapPhoneNumber()
    </td>
    <td>
        <a href="#">@Model.CreatedBy</a>
    </td>
    <td>
        <a href="#">@Model.CreatedDate.ToString("dd/MM/yyyy") </a>
    </td>
    <td id="colAssignTo" name="wrapAssignTo">
        <a name="lnkUserInfo" href="#divSaleInfo" data-toggle="modal">@Model.AssignTo</a>
    </td>
    <td class="action" name="wrapActions">
        <div class="btn-group none-bottom">
            <button class="btn w80 blue mini dropdown-toggle" data-toggle="dropdown">
                <i class="icon-cog"></i>
                @(LanguageRes.Act_CusSearch_Manager)
                <i class="icon-angle-down"></i>
            </button>
            <ul class="dropdown-menu pull-right">
                @if (Model.IsEditable(isPermit, current.UserName))
                {
                    <li>
                        <a class="edit" cid="@Model.Id" title="Edit File Customer">
                            <i class="icon-edit"></i>
                            @(LanguageRes.Act_CusSearch_Edit)
                        </a>
                    </li>
                }
                @if (Model.IsBlockable(isPermit))
                {
                    <li>
                        <a class="lock" cid="@Model.Id" title="Block File Customer">
                            <i class="icon-lock"></i>
                            @(LanguageRes.Act_CusSearch_Block)
                        </a>
                    </li>
                }
                @if (Model.IsUnblockable(isPermit))
                {
                    <li>
                        <a class="unlock" cid="@Model.Id" title="Unblock File Customer">
                            <i class="icon-unlock"></i>
                            @(LanguageRes.Act_CusSearch_UnBlock)
                        </a>
                    </li>
                }
                @if (Model.IsAssigningTo(isPermit))
                {
                    <li>
                        <a class="assignto" href="#wrapAssignTo" data-toggle="modal" cid="@Model.Id" title="Assign to another saler">
                            <i class="icon-user"></i>
                            @(LanguageRes.Act_CusSearch_AssignTo)
                        </a>
                    </li>
                }
                @if (Model.IsBlacklisted(isPermit))
                {
                    <li>
                        <a class="blacklist" cid="@Model.Id" title="Blacklisting this customer">
                            <i class="icon-book"></i>
                            @(LanguageRes.Act_CusSearch_Blacklisting)
                        </a>
                    </li>

                }
                @if (Model.IsUnblacklisted(isPermit))
                {
                    <li>
                        <a class="unblacklist" cid="@Model.Id" title="UnBlacklisting this customer">
                            <i class="icon-book"></i>
                            @(LanguageRes.Act_CusSearch_Unblacklisting)
                        </a>
                    </li>
                }
                @if (Model.IsNoted(isPermit, current.UserName))
                {
                    <li>
                        <a class="note" cid="@Model.Id" href="#wrapNote" data-toggle="modal" title="note">
                            <i class="icon-edit"></i>
                            @(LanguageRes.Act_CusSearch_Note)
                        </a>
                    </li>
                }
                @if (Model.IsViewDetail())
                {
                    <li>
                        <a class="detail" cid="@Model.Id" title="customer detail">
                            <i class="icon-book"></i>
                            @(LanguageRes.Act_CusSearch_Detail)
                        </a>
                    </li>
                }
                @if (Model.IsReceived())
                {
                    <li>
                        <a class="receive" cid="@Model.Id" title="customer detail">
                            <i class="icon-hand-right"></i>
                            @(LanguageRes.Act_CusSearch_Receiving)
                        </a>
                    </li>
                }

                @if (Model.IsReturned(current.UserName))
                {
                    <li>
                        <a name="return" cid="@Model.Id" assname="@Model.AssignTo" title="Return Customer">
                            <i class="icon-hand-right"></i>
                            @(LanguageRes.Act_CusSearch_Return)
                        </a>
                    </li>
                }

            </ul>
        </div>
    </td>
}