﻿@using BCRM.BXH.ThaiLand
@using BCRM.BXH.ThaiLand.Models
@using BCRM.BXH.ThaiLand.Entity
@using BCRM.BXH.ThaiLand.Library
@using BCRM.BXH.ThaiLand.Language
@model BCRM.BXH.ThaiLand.Models.CustomerIndexModel
@{
    Layout = null;
    var currUser = (UserAuthenticateModel)ViewBag.CurrentUser;
    var isExportExcelPermission = currUser.HasRole(RoleSystem.Admin.GetHashCode(), RoleSystem.Manager.GetHashCode());
    List<UserSearchModel> listUser = ViewBag.ListUser;
    List<City> listCity = ViewBag.ListCity;
    var startDate = Model.StartDate == new DateTime(2000,1,1,0,0,0) || Model.StartDate == new DateTime(1, 1, 1, 0, 0, 0) ? "" : Model.StartDate.Value.ToString("dd/MM/yyyy");
    var endDate = Model.EndDate == new DateTime(9999, 1, 1, 0, 0, 0) || Model.EndDate == new DateTime(1, 1, 1, 0, 0, 0) ? "" : Model.EndDate.Value.ToString("dd/MM/yyyy");
}
<div class="row-fluid">
    <div class="span12">
        <h3 class="page-title">
            @(LanguageRes.CustomerManagementTitle)
        </h3>
        <ul class="breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="/">@(LanguageRes.HomeCumTitle)</a>
                <i class="icon-angle-right"></i>
            </li>
            <li>
                <a href="#">@(LanguageRes.CustomerManagementTitle)</a>
            </li>
        </ul>
    </div>
</div>
<div class="row-fluid" id="wrapCustomerIndex">
    <div class="portlet box green">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-cogs"></i>
                @(LanguageRes.SearchBoxTitle)
            </div>
            <div class="tools">
                <a href="javascript:;" class="collapse"></a>
            </div>
        </div>
        <div class="portlet-body forget-form">
            <form action="/Customer/ExportExcel" class="form-horizontal" method="post" id="frmSearchCustomer"  >
                <div class="row-fluid">
                    <div class="span3">
                        @Html.TextAreaFor(m => m.FilterKeyword, new { @class = "span12 m-wrap h110 mgb4", id = "txtFilterKeyword", placeholder = LanguageRes.PlaceHolder_Keyword , tabindex = "1", rows = "1" })
                    </div>
                    <div class="span9">
                        <select id="selAssignTo" name="AssignTo" class = "m-wrap span3 chosen" dataplaceholder = "--Customer is Cared By--" tabindex = 2>
                            <option value="-1">@(LanguageRes.Option_AllVisibleCustomers)</option>
                            <option value="0">@(LanguageRes.Option_UnassignCustomers)</option>
                            @foreach (var userItem in listUser)
                            {
                                <option value="@userItem.UserName">@userItem.UserName</option>
                            }
                        </select>
                        <select id="selCreator" name="Creator" class = "m-wrap span3 chosen" dataplaceholder = "--Customer is Cared By--" tabindex = 2>
                            <option value="">@(LanguageRes.Option_AllCustomerCreator)</option>
                            <option value="@DefaultSystemParameter.GuestCreator">@(LanguageRes.Option_AllCreatorIsGuest)</option>
                            @foreach (var userItem in listUser)
                            {
                                <option value="@userItem.UserName">@userItem.UserName</option>
                            }
                        </select>

                        @Html.DropDownListFor(m => m.Status, new SelectList(Helper.ListCustomerStatusName(), "Key", "Value"), "--Status--", new { id = "selStatus", @class = "span3  hide", dataplaceholder = "--Trạng thái--", tabindex = "3" })
                        <select id="selCity" name="CityId" class="m-wrap chosen span3" data-placeholder="--City--" cid="@Model.CityId" tabindex="4">
                            <option value="">@(LanguageRes.Option_AllCity)</option>
                            @foreach (var city in listCity)
                            {
                                <option value="@city.Id">@city.Name</option>
                            }
                        </select>
                        <select id="selDistrict" name="DistrictId" class="chosen span3" data-placeholder="--District--" did="@Model.DistrictId" tabindex="5">
                            <option value="">@(LanguageRes.Option_AllDistrict)</option>
                        </select>
                        @Html.DropDownListFor(m => m.Sort, new SelectList(new[] {   new SelectListItem { Text = LanguageRes.Option_AllCustomers, Value = "-1" },
                                                                                        new SelectListItem { Text = "Active Customer", Value = "0" },
                                                                                        new SelectListItem { Text = "Block Customer", Value = "1" }}
                                                                            , "Value", "Text"), new { id = "selSort", @class = "chosen span3", @style = "margin-top: -15px !important", tabindex = "6" })
                        @Html.DropDownListFor(m => m.Type, new SelectList(Helper.ListTypeOfCustomerName(), "Key", "Value"), LanguageRes.Option_AllTypeCustomer, new { id = "selCustomerType", @class = "chosen span3", @style = "margin-top: -15px !important", dataplaceholder = "--Type Of Customer--", tabindex = "7" })
                        <div id="divStartDate" class="chzn-container chzn-container-single">
                            <div class="block overflow-hidden input-append date date-picker" data-date-format="dd/mm/yyyy" data-date-viewmode="years">
                                <input class="m-wrap m-ctrl-medium valign-base" size="16" type="text" value="@startDate" placeholder="@LanguageRes.PlaceHolder_CreationDateFrom" id="txtStartDate"  tabindex="8" />
                                <span class="add-on">
                                    <i class="icon-remove"></i>
                                </span>
                                <span class="add-on">
                                    <i class="icon-calendar"></i>
                                </span>
                            </div>
                        </div>
                        <div id="divEndDate" class="chzn-container chzn-container-single">
                            <div class="block overflow-hidden input-append date date-picker" data-date-format="dd/mm/yyyy" data-date-viewmode="years">
                                <input class="m-wrap m-ctrl-medium valign-base" size="16" type="text" value="@endDate" placeholder="@LanguageRes.PlaceHolder_CreationDateTo" id="txtEndDate"  tabindex="9" />
                                <span class="add-on">
                                    <i class="icon-remove"></i>
                                </span>
                                <span class="add-on">
                                    <i class="icon-calendar"></i>
                                </span>
                            </div>
                        </div>
                        <div class="chzn-container chzn-container-single">
                            <div class="block overflow-hidden">
                                <button id="btnSearch" type="button" class="btn green valign-base" tabindex="10" title="Search Customer">
                                    <i class="m-icon-swapright m-icon-white"></i>
                                    @LanguageRes.Button_Search
                                </button>
                                <button id="btnReset" type="button" class="btn green valign-base" tabindex="11" title="Reset search form">
                                    <i class="icon-refresh"></i>
                                    @LanguageRes.Button_Reset
                                </button>
                                @if(isExportExcelPermission)
                                {
                                <button id="btnExportExcel" type="button" class="btn green">
                                    <i class="icon-share-alt"></i>
                                    @LanguageRes.Button_ExportExcel                                    

                                </button>   
                                    <input type="hidden" id="hiddStartDate" name="StartDate" />
                                    <input type="hidden" id="hiddEndDate" name="EndDate" />
                                }
                            </div>
                        </div>
                        
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="row-fluid" id="divBodyListCustomer">
    <div class="portlet box blue">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-reorder"></i>
                @LanguageRes.BoxTitle_ListOfCustomers
            </div>
            <div class="tools">
                <a href="javascript:;" class="collapse"></a>
                <a href="javascript:;" class="reload"></a>
                <a href="javascript:;" class="remove" id="lnkRemoveListCustomer"></a>
            </div>
        </div>
        <div class="portlet-body forget-form" id="divListCustomer">
            <div class="clearfix">
                <div class="btn-group pull-right">
                    <button type="button" id="btnAddNew" class="btn blue" title="Add new customer">
                        <i class="icon-plus"></i>
                        @LanguageRes.Button_AddNew
                    </button>
                </div>
            </div>
            <div class="dataTables_wrapper form-inline">

            </div>
        </div>
    </div>
</div>
<div class="row-fluid hide" id="divCreateCustomer">
    @Html.Action("Create", "Customer")
</div>
<div class="row-fluid hide" id="divEditCustomer">
    @Html.Action("Edit", "Customer")
</div>
<div class="row-fluid" id="wrapCustomerDetail">

</div>
<div id="divLockCustomer" class="row-fluid"></div>
@if(currUser.HasRole(RoleSystem.Admin,RoleSystem.Manager))
{
    <div class="hide modal fade" id="wrapAssignTo">
        @Html.Partial("~/Views/Customer/AssignToPartial.cshtml",Model.LstGroup)
    </div>
}
<div class="hide modal fade" id="wrapNote">
    @Html.Partial("~/Views/Customer/NotePartial.cshtml")
</div>

<script type="text/javascript">
    app.initPortletTools();
    app.initDateTimePickers();
    app.initChoosenSelect($('#frmSearchCustomer'));
    sysfile.load("/Content/assets/scripts/views/Customer.js", function () {
        var language_res = {
            msg_block_confirm: '@(LanguageRes.Msg_CusBlock_Confirm)',
            msg_unblock_confirm: '@(LanguageRes.Msg_CusUnblock_Confirm)',
            msg_blacklist_confirm: '@(LanguageRes.Msg_CusBlacklist_Confirm)',
            msg_unblacklist_confirm: '@(LanguageRes.Msg_CusUnblacklist_Confirm)',
            msg_receive_confirm: '@(LanguageRes.Msg_CusReceive_Confirm)',
            option_no_city: '@(LanguageRes.Option_CusAdd_NoProvince)',
            option_no_district: '@(LanguageRes.Option_CusAdd_NoDistrict)',
            msg_required_fullname: '@(LanguageRes.Msg_Required_FullName)',
            msg_required_phonenumber: '@(LanguageRes.Msg_Required_Phonenumber)',
            msg_required_province: '@(LanguageRes.Msg_Required_Province)',
            msg_required_address: '@(LanguageRes.Msg_Required_Address)',
            msg_invalid_email: '@(LanguageRes.Msg_Invalid_Email)',
            option_non_assignto: '@(LanguageRes.Option_NonSaler)',
            msg_required_assignto :'@(LanguageRes.Msg_Required_AssignTo)'
        };

        var option_All_Cities = '';
        option_All_Cities ='@(LanguageRes.Option_AllCity)' ;
        var option_All_District = '';
        option_All_District = '@(LanguageRes.Option_AllDistrict)';
        customer_index.init(option_All_Cities, option_All_District, language_res);
    });
</script>