﻿@using BCRM.BXH.ThaiLand.Models
@model BCRM.BXH.ThaiLand.Entity.Users
@{
    Layout = null;
    var currentUser = (UserAuthenticateModel)ViewBag.currentUser;
    var createdDate = Model.CreatedDate.ToString("dd/MM/yyyy");
    var lastActiveDate = string.Format("{0:dd/MM/yyyy hh:mm}", Model.LastActivityDate);
    var room = ViewBag.Room;
    var roomLeader = ViewBag.RoomLeader;
    var team = ViewBag.Team;
    var teamLeader = ViewBag.TeamLeader;
    var url = "http://www.placehold.it/291x170/EFEFEF/AAAAAA&amp;text=no+image";
    if (!String.IsNullOrEmpty(Model.Avatar))
    {
        url = string.Format("{0}/zoom/291x170/{1}", System.Configuration.ConfigurationManager.AppSettings["StorageServer"], ViewBag.url);
    }
    var root = System.Configuration.ConfigurationManager.AppSettings["StorageServer"];
}
<div class="row-fluid">
    <h3 class="page-title">
        Personal Info
    </h3>
    <ul class="breadcrumb">
        <li>
            <i class="icon-home"></i>
            <a href="/">Home</a>
            <i class="icon-angle-right"></i>
        </li>
        <li><a href="#">Personal</a></li>
    </ul>
</div>
<div class="row-fluid profile">
    <div class="span12">
        <div class="tabbable tabbable-custom tabbable-full-width">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#tab_1_1" data-toggle="tab">Personal Infomation</a></li>
                <li><a href="#tab_1_2" data-toggle="tab">Account</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane profile-classic row-fluid active" id="tab_1_1">
                    <div id="divImageAvatar" class="float-left">
                        <img id="ImageAvatar" src="@url" alt="" onerror="OnErrorImage(this)" />
                    </div>
                    <ul class="unstyled span7 float-left">
                        <li><span>User Name:</span> @Model.UserName</li>
                        <li><span>Display Name:</span> @Model.DisplayName</li>
                        <li><span>Date of birth:</span> @Model.DOB</li>
                        <li><span>Email:</span> <a href="#">@Model.Email</a></li>
                        <li><span>Mobile:</span> @Model.Mobile</li>
                        <li><span>Department:</span> @room</li>
                        <li><span>Leader:</span> @roomLeader</li>
                        <li><span>Team:</span> @team</li>
                        <li><span>Team Leader:</span> @teamLeader</li>
                        <li><span>Created Date:</span> @createdDate</li>
                        <li><span>Updated Date:</span> @Model.UpdatedDate</li>
                        <li><span>Updated By:</span> @Model.UpdatedBy</li>
                        <li><span>Last Active Date:</span> @lastActiveDate</li>
                    </ul>
                </div>
                <!--tab_1_2-->
                <div class="tab-pane row-fluid profile-account" id="tab_1_2">
                    <div class="row-fluid">
                        <div class="span12">
                            <div class="span3">
                                <ul class="ver-inline-menu tabbable margin-bottom-10" name="ProfileAction">
                                    <li class="active">
                                        <a data-toggle="tab" href="#tab_1-1">
                                            <i class="icon-cog"></i>
                                            Personal Info
                                        </a>
                                        <span class="after"></span>
                                    </li>
                                    <li class="">
                                        <a data-toggle="tab" href="#tab_2-2">
                                            <i class="icon-picture"></i>
                                            Change Avatar
                                        </a>
                                    </li>
                                    <li class="">
                                        <a data-toggle="tab" href="#tab_3-3">
                                            <i class="icon-lock"></i>
                                            Change Password
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="span9">
                                <div class="tab-content">
                                    <div id="tab_1-1" class="tab-pane active">
                                        <div style="height: auto;" id="accordion1-1" class="accordion collapse">
                                            <label class="control-label">
                                                Display Name
                                            </label>
                                            <input id="txtDisplayName" type="text" value="@Model.DisplayName" class="m-wrap span8" />
                                            <label class="control-label">
                                                Mobile
                                            </label>
                                            <input id="txtMobile" type="text" value="@Model.Mobile" class="m-wrap span8" />
                                            <label class="control-label">
                                                Email
                                            </label>
                                            <input id="txtEmail" type="text" value="@Model.Email" class="m-wrap span8" />
                                            <label class="control-label">
                                                DOB
                                            </label>
                                            <div id="divStartTime" class="chzn-container chzn-container-single">
                                                <div class="block overflow-hidden input-append date date-picker " data-date-format="dd/mm/yyyy" data-date-viewmode="years">
                                                    <input class="m-wrap m-ctrl-medium" size="16" type="text" value="@Model.DOB" placeholder="Ngày sinh" id="txtDOB" />
                                                    <span class="add-on"><i class="icon-remove"></i></span>
                                                    <span class="add-on"><i class="icon-calendar"></i></span>
                                                </div>
                                            </div>
                                            <div class="submit-btn">
                                                <input id="btnSaveChangeProfile" type="button" class="btn green" value="Save" />
                                                <input type="button" name="btnBackToProfile" class="btn" value="Cancel" />
                                            </div>
                                            <input type="hidden" id="hiddUserId" value="@Model.Id" />
                                        </div>
                                    </div>
                                    <div id="tab_2-2" class="tab-pane">
                                        <div style="height: auto;" id="accordion2-2" class="accordion collapse">
                                            <div class="controls">
                                                <div class="thumbnail" style="width: 291px; height: 170px;">
                                                    <img onerror="OnErrorImage(this)" id="ViewImage" src="@url" alt="" />
                                                </div>
                                            </div>
                                            <form id="frmChangeAvatar" action="/Image/UploadImage" method="post" enctype="multipart/form-data">
                                                <div class="space10">
                                                </div>
                                                <div class="fileupload fileupload-new" data-provides="fileupload">
                                                    <div class="input-append">
                                                        <div class="uneditable-input">
                                                            <i class="icon-file fileupload-exists"></i>
                                                            <span class="fileupload-preview"></span>
                                                        </div>
                                                        <span class="btn btn-file">
                                                            <span class="fileupload-new">Choose image</span>
                                                            <span class="fileupload-exists">Change image</span>
                                                            <input type="file" class="default" name="file" />
                                                        </span>
                                                        <a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remove</a>
                                                    </div>
                                                </div>
                                                <div class="clearfix"></div>
                                                <div class="submit-btn">
                                                    <input type="button" class="btn green" value="Save" id="btnSaveChangeAvatar" />
                                                    <input type="button" name="btnBackToProfile" class="btn" value="Cancel" />
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div id="tab_3-3" class="tab-pane">
                                        <div style="height: auto;" id="accordion3-3" class="accordion collapse">
                                            <form action="#">
                                                <div class="row-fluid">
                                                    <div class="control-group">
                                                        <label class="control-label">
                                                            Current Password
                                                        </label>
                                                        <div class="controls">
                                                            <input id="txtCurPass" type="password" class="m-wrap span8" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row-fluid">
                                                    <div class="control-group">
                                                        <label class="control-label">
                                                            New Password
                                                        </label>
                                                        <div class="controls">
                                                            <input id="txtNewPass" type="password" class="m-wrap span8" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row-fluid">
                                                    <div class="control-group">
                                                        <label class="control-label">
                                                            Confirm Password
                                                        </label>
                                                        <div class="controls">
                                                            <input id="txtConfirmPass" type="password" class="m-wrap span8" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="submit-btn">
                                                    <input type="button" id="btnSaveChangePass" class="btn green" value="Save" />
                                                    <input type="button" name="btnBackToProfile" class="btn" value="Cancel" />
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<script language="javascript" type="text/javascript">
    app.initDateTimePickers();
    sysfile.load("/Content/assets/scripts/views/UserProfile.js", function () {
        userProfile.init();
    });
    $(document).ready(function () {
        var options = {
            beforeSend: function () {
            },
            uploadProgress: function (event, position, total, percentComplete) {
            },
            success: function (response) {
                var urlAvatar = '@root' + "/zoom/291x170/" + response.Data;
                $("#ImageAvatar").attr("src", urlAvatar);
                $("#ViewImage").attr("src", urlAvatar);
                var option = {
                    controller: "User",
                    action: "ChangeAvatar",
                    data: {
                        userId: '@Model.Id',
                        avatar: response.Data
                    },
                    callback: function (data) {
                        if (data.Code == ResponseCode.Success) {
                            $("#ImageAvatar").attr("src", '@root' + "/zoom/291x170/" + data.Data);
                            $("#tab_1_1").addClass("active");
                            $("#tab_1_2").removeClass("active");
                            $(".nav-tabs li:eq(0)").addClass("active");
                            $(".nav-tabs li:eq(1)").removeClass("active");
                        } else {
                            sysmess.error(data.Message);
                        }
                    }
                };
                sysrequest.send(option);
            },
            complete: function (response) {
            },
            error: function () {
            }
        };
        $("#frmChangeAvatar").ajaxForm(options);
    });
</script>
