﻿@using BCRM.BXH.ThaiLand.Models
@model List<UserRoleGroupSearchModel>
@{
    Layout = null;
    var count = 0;
}
<table class="table table-hover table-striped" width="100%">
    <thead>
        <tr>
            <th class="w20">#</th>
            <th>Role</th>
            <th>Group</th>
            <th class="w280"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var userInfo in Model)
        {
            count++;
            <tr>
                <td>@count</td>
                <td>@userInfo.RoleName </td>
                <td>@userInfo.GroupName </td>
                <td>
                    <a name="btnRemove" class="btn mini blue edit align-left" data-userid="@userInfo.UserId" data-groupid="@userInfo.GroupId" data-roleid="@userInfo.RoleId" data-username="@userInfo.UserName">
                        <i class="icon-trash"></i>
                        Remove
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
