﻿@using BCRM.BXH.ThaiLand.Language
@model BCRM.BXH.ThaiLand.Models.LogonViewModel
@{
    ViewBag.Title = "LogOn";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>BCRM BXH Indo | Login Page</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <link href="/Content/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/Content/assets/plugins/bootstrap/css/bootstrap-responsive.css" rel="stylesheet" type="text/css" />
    <link href="/Content/assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="/Content/assets/css/style-metro.css" rel="stylesheet" type="text/css" />
    <link href="/Content/assets/css/style.css" rel="stylesheet" type="text/css" />
    <link href="/Content/assets/css/style-responsive.css" rel="stylesheet" type="text/css" />
    <link href="/Content/assets/css/themes/default.css" rel="stylesheet" type="text/css" />
    <link href="/Content/assets/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css" />
    <link href="/Content/assets/css/pages/login.css" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="/Content/assets/img/bcrm-icon.ico" />
</head>
<body class="login">
    <div class="logo">
        <img src="/Content/assets/img/logo-BXH-Indo.png" alt="" style="width: 150px" />
    </div>
    <div class="content">
        <form class="form-vertical login-form" action="/Account/LogOn" method="POST" id="frmLogOn">
            <h3 class="form-title">Logon BCRM</h3>
            <div class="alert alert-error hide">
                <button class="close" data-dismiss="alert"></button>
                <span>@LanguageRes.Msg_Required_LoginInfo .</span>
            </div>
            <div class="control-group">
                <label class="control-label visible-ie8 visible-ie9">@LanguageRes.Lbl_Login_Username </label>
                <div class="controls">
                    <div class="input-icon left">
                        <i class="icon-user"></i>
                        <input id="txtUserName" class="m-wrap placeholder-no-fix" type="text" placeholder="@LanguageRes.Lbl_Login_Username" name="username" value="@Model.UserName" />
                    </div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label visible-ie8 visible-ie9">@LanguageRes.Lbl_Login_Password</label>
                <div class="controls">
                    <div class="input-icon left">
                        <i class="icon-lock"></i>
                        <input id="txtPassword" class="m-wrap placeholder-no-fix" type="password" placeholder="@LanguageRes.Lbl_Login_Password" name="password" value="@Model.Password" />
                    </div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label visible-ie8 visible-ie9">@LanguageRes.Lbl_Login_Language</label>
                <div class="controls">
                    <div class="input-icon left">
                        <select id="selLanguage" name="language" class="m-wrap placeholder-no-fix" style="width:100%;">
                            <option value="th">ประเทศไทย</option>
                            <option value="en">English</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-actions">
                <label class="checkbox">
                    <input id="chkRememberPassword" type="checkbox" name="remember" checked="checked" /> @LanguageRes.Lbl_RememberPassword
                </label>
                <button id="btnLogOn" type="button" class="btn green pull-right">
                    @LanguageRes.Button_Login
                    <i class="m-icon-swapright m-icon-white"></i>
                </button>
            </div>
        </form>
    </div>
    <div class="copyright">
        2017 &copy; Dai Viet Software.
    </div>
    <script src="/Content/assets/plugins/jquery-1.8.3.min.js" type="text/javascript"></script>
    <script src="/Content/assets/plugins/jquery-ui/jquery-ui-1.10.1.custom.min.js" type="text/javascript"></script>
    <script src="/Content/assets/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/Content/assets/plugins/breakpoints/breakpoints.js" type="text/javascript"></script>
    <script src="/Content/assets/plugins/jquery.blockui.js" type="text/javascript"></script>
    <script src="/Content/assets/plugins/jquery.cookie.js" type="text/javascript"></script>
    <script src="/Content/assets/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
    <script src="/Content/assets/plugins/jquery-validation/dist/jquery.validate.min.js" type="text/javascript"></script>
    <script src="/Content/assets/scripts/app.js" type="text/javascript"></script>
    <script src="/Content/assets/scripts/login.js" type="text/javascript"></script>
    <script type="text/javascript" src="/Content/assets/scripts/views/Account.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function () {
            app.initUniform();
            var lang = {
                msg_required_logininfo: '@(LanguageRes.Msg_Required_LoginInfo)',
                msg_required_usrandpassword :'@(LanguageRes.Msg_Required_UsrAndPwd)'
            };
            account_logon.init('@Model.Status', lang);

            var language_res = {
                msg_required_username: '@(LanguageRes.Msg_Required_UserName)',
                msg_required_password : '@(LanguageRes.Msg_Required_Password)'
            };

            login.init(language_res);
        });
    </script>
</body>
</html>

