﻿@using BCRM.BXH.ThaiLand.Models
@using BCRM.BXH.ThaiLand.Language
@model AdminAccountStatisticIndexModel
@{
    Layout = null;

}
<div class="row-fluid">
    <div class="span12">
        <h3 class="page-title">
            @LanguageRes.CreationAccountReportManagementTitle
        </h3>
        <ul class="breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="/">@LanguageRes.HomeCumTitle</a>
                <i class="icon-angle-right"></i>
            </li>
            <li><a href="#">@LanguageRes.CreationAccountReportManagementTitle</a></li>
        </ul>
    </div>
</div>
<div class="row-fluid">
    <div class="portlet box green">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-cogs"></i>
                @LanguageRes.SearchBoxTitle
            </div>
            <div class="tools">
                <a href="javascript:;" class="collapse"></a>
            </div>
        </div>
        <div class="portlet-body forget-form">
            <form action="#" class="form-horizontal" id="frmSearchAdminAccountStatistic">
                <div class="row-fluid">
                    <select name="GroupId" class="chosen span3">
                        @foreach(var item in Model.LstGroup)
                        {
                            <option value="@item.Key"> @item.Value </option>
                        }
                    </select>
                    <select name="AssignTo" class="chosen span3" dataplaceholder="--Customer is Cared By--" tabindex=2>
                        @foreach(var item in Model.LstUser)
                        {
                            <option value="@item.Key"> @item.Value </option>
                        }
                    </select>
                    <div id="divStartDate" class="chzn-container chzn-container-single">
                        <div class="block overflow-hidden input-append date date-picker" data-date-format="dd/mm/yyyy" data-date-viewmode="years">
                            <input class="m-wrap m-ctrl-medium valign-base" size="16" type="text" value="@Model.TimeToCreationFrom.Value.ToString("dd/MM/yyyy")" placeholder="--Creation date ranged from--" name="TimeToCreationFrom" tabindex="8" />
                            <span class="add-on"><i class="icon-remove"></i></span>
                            <span class="add-on"><i class="icon-calendar"></i></span>
                        </div>
                    </div>
                    <div id="divEndDate" class="chzn-container chzn-container-single" style="margin-top:5px !important;">
                        <div class="block overflow-hidden input-append date date-picker" data-date-format="dd/mm/yyyy" data-date-viewmode="years">
                            <input class="m-wrap m-ctrl-medium valign-base" size="16" type="text" value="@Model.TimeToCreationTo.Value.ToString("dd/MM/yyyy")" placeholder="--Creation date ranged to--" name="TimeToCreationTo" tabindex="9" />
                            <span class="add-on"><i class="icon-remove"></i></span>
                            <span class="add-on"><i class="icon-calendar"></i></span>
                        </div>
                    </div>
                    <div class="chzn-container chzn-container-single">
                        <div class="block overflow-hidden">
                            <button name="search" type="button" class="btn green valign-base" tabindex="10" title="Search Customer">
                                <i class="m-icon-swapright m-icon-white"></i>
                                @LanguageRes.Button_Search
                            </button>
                            <button name="reset" type="button" class="btn green valign-base" tabindex="11" title="Reset search form">
                                <i class="icon-refresh"></i>
                                @LanguageRes.Button_Reset
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="row-fluid" id="divBodyListAdminAccountStatistic">
    <div class="portlet box blue">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-reorder"></i>
                @LanguageRes.BoxTitle_Report
            </div>
            <div class="tools">
                <a href="javascript:;" class="collapse"></a>
                <a href="javascript:;" class="reload"></a>
                <a href="javascript:;" class="remove" id="lnkRemoveListAdminAccountStatistic"></a>
            </div>
        </div>
        <div class="portlet-body forget-form">
            <div class="clearfix"></div>
            <div class="dataTables_wrapper form-inline" id="divListAdminAccountStatistic">

            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    app.initPortletTools();
    app.initDateTimePickers();
    app.initChoosenSelect();
    sysfile.load("/Content/assets/scripts/views/AdminAccountStatistic.js", function () {
        admin_account_statistic_index.init();
    });
</script>