﻿@using BCRM.BXH.ThaiLand.Models
@using BCRM.BXH.ThaiLand.Language
@model List<AdminAccountStatisticSearchModel>
@{
    Layout = null;
    var index = 1;
}
<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th class="w20">#</th>
            <th>@LanguageRes.Column_CAReport_Username </th>
            <th>@LanguageRes.Column_CAReport_Fullname </th>
            <th>@LanguageRes.Column_CAReport_Email </th>
            <th>@LanguageRes.Column_CAReport_Phonenumber </th>
            <th>@LanguageRes.Column_CAReport_Group </th>
            <th>@LanguageRes.Column_CAReport_ReceivedCustomer </th>
            <th>@LanguageRes.Column_CAReport_CreatedCustomer </th>
            <th>@LanguageRes.Column_CAReport_SuccessRate </th>
            <th>@LanguageRes.Column_CAReport_ActivedCustomer </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@(index++)</td>
                <td>@item.UserName </td>
                <td>@item.FullName </td>
                <td>@item.Email  </td>
                <td>@item.PhoneNumber  </td>
                <td>@item.GroupName </td>
                <td>@item.SumReceivedCustomer </td>
                <td>@item.SumSuccessContact </td>
                <td>@item.DisplayRateSuccess </td>
                <td>@item.SumActivedSiteCustomer  </td>
            </tr>
        }
    </tbody>
</table>
