﻿@using BCRM.BXH.ThaiLand
@using BCRM.BXH.ThaiLand.Models
@model ChangePasswordModel
@{
    ViewBag.Title = "Change Password";
    Layout = null;
}
<div class="portlet box blue">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-edit"></i> Change Password
        </div>
        <div class="tools">
            <a href="javascript:;" class="collapse"></a>
            <a href="javascript:;" class="remove" control-relation="lnkRemoveListUser"></a>
        </div>
    </div>
    <div class="portlet-body form">
        <form action="#" id="frmChangePass" class="form-horizontal">
            <div class="row-fluid">
                <div class="span6">
                    <div class="control-group">
                        <label class="control-label">
                            Current Password
                        </label>
                        <div class="controls">
                            <input id="txtOldPass" type="password" class="span12 m-wrap " placeholder="Current Password" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span6">
                    <div class="control-group">
                        <label class="control-label">
                            New Password
                        </label>
                        <div class="controls">
                            <input id="txtNewPass" type="password" class="span12 m-wrap " placeholder="New Password" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span6">
                    <div class="control-group">
                        <label class="control-label">
                            Confirm Password
                        </label>
                        <div class="controls">
                            <input id="txtConfirmPass" type="password" class="span12 m-wrap " placeholder="Confirm Password" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-actions">
                <button type="button" class="btn blue" id="btnSaveUser">
                    <i class="icon-save"></i>
                    Save
                </button>
                <button type="button" id="btnResetUserInput" class="btn blue">
                    <i class="icon-refresh"></i>
                    Refresh
                </button>
                <button type="button" id="btnBackToListUser" class="btn blue">
                    <i class="icon-remove"></i>
                    Cancel
                </button>
            </div>
        </form>
    </div>
</div>