﻿@using BCRM.BXH.ThaiLand.Models
@using Newtonsoft.Json
@model Pager
@{Layout = null;}
<div class="row-fluid">
    <div class="span6">
        <div class="dataTables_info">
            Page @(Model.TotalPage > 0 ? Model.CurrentPage : 0) in total @(Model.TotalPage > 0 ? Model.TotalPage.ToString("#,###,###") : Model.TotalPage.ToString())  page (@(Model.TotalItem > 0 ? Model.TotalItem.ToString("#,###,###") : Model.TotalItem.ToString()) record)
        </div>
    </div>
    <div class="span6">
        <div class="dataTables_paginate paging_bootstrap pagination">
            <ul data-json="@JsonConvert.SerializeObject(Model.Data, Formatting.None)">
                @*<li class="prev"><a title="Về trang đầu" href="javascript:void(0);" onclick="javascript:@(Model.ActionScript)(1, this)"> Đầu tiên </a></li>*@
                @if (Model.CurrentPage == 1)
                {
                    <li class="prev active"><a title="Prev Page"> ←Prev </a></li>
                }
                else
                {
                    <li class="prev"><a title="Prev Page" href="javascript:void(0);" onclick="javascript:@(Model.ActionScript)(@Model.Previous, this)"> ←Prev </a></li>
                }
                @if (Model.TotalPage > 0)
                {
                    if (Model.TotalPage <= 10)
                    {
                        for (int i = 1; i <= Model.TotalPage; i++)
                        {
                            if (Model.CurrentPage == i)
                            {
                                <li class="active"><a title="Trang @i">@i</a></li>
                            }
                            else
                            {
                                <li><a title="Trang @i" href="javascript:void(0);" onclick="javascript:@(Model.ActionScript)(@i, this)">@i</a></li>
                            }
                        }
                    }
                    else
                    {
                        if (Model.CurrentPage < 6)
                        {
                            for (int i = 1; i <= 10; i++)
                            {
                                if (Model.CurrentPage == i)
                                {
                                    <li class="active">
                                        <a title="Page @i">@i</a>
                                    </li>
                                }
                                else
                                {
                                    <li>
                                        <a title="Page @i" href="javascript:void(0);" onclick="javascript:@(Model.ActionScript)(@i, this)">@i</a>
                                    </li>
                                }
                            }
                        }
                        else
                        {
                            int start;
                            int end;
                            if (Model.CurrentPage + 5 > Model.TotalPage)
                            {
                                start = Model.TotalPage - 10;
                                end = Model.TotalPage;
                            }
                            else
                            {
                                start = Model.CurrentPage - 4;
                                end = Model.CurrentPage + 5;
                            }
                            for (int i = start; i <= end; i++)
                            {
                                if (Model.CurrentPage == i)
                                {
                                    <li class="active">
                                        <a title="Page @i">@i</a>
                                    </li>
                                }
                                else
                                {
                                    <li>
                                        <a title="Page @i" href="javascript:void(0);" onclick="javascript:@(Model.ActionScript)(@i, this)">@i</a>
                                    </li>
                                }
                            }
                        }
                    }
                }
                @if (Model.CurrentPage == Model.TotalPage || Model.TotalPage == 0)
                {
                    <li class="next active"><a title="Next Page"> Next →  </a></li>
                }
                else
                {
                    <li class="next"><a title="Next Page" href="javascript:void(0);" onclick="javascript:@(Model.ActionScript)(@Model.Next, this)"> Next →  </a></li>
                }
                @*<li><a title="Về trang cuối" href="javascript:void(0);" onclick="javascript:@(Model.ActionScript)(@Model.TotalPage, this)"> Cuối cùng </a></li>*@
            </ul>
        </div>
    </div>
</div>
