﻿@using BCRM.BXH.ThaiLand.Models
@model DetailAdminAccountStatisticIndexModel
@{
    Layout = null;
    var startDate = new DateTime(DateTime.Now.Year, DateTime.Now.Month, 1, 0, 0, 0);
    var endDate = (new DateTime(DateTime.Now.AddMonths(1).Year, DateTime.Now.AddMonths(1).Month, 1, 0, 0, 0)).AddDays(-1);
}
<div class="row-fluid">
    <div class="span12">
        <h3 class="page-title">
            Report of detail customer creation
            <small>Show info</small>
        </h3>
        <ul class="breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="/">Home</a>
                <i class="icon-angle-right"></i>
            </li>
            <li><a href="#">Customer Detail</a></li>
        </ul>
    </div>
</div>
<div class="row-fluid">
    <div class="portlet box green">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-cogs"></i>
                Search Box
            </div>
            <div class="tools">
                <a href="javascript:;" class="collapse"></a>
            </div>
        </div>
        <div class="portlet-body forget-form">
            <form action="#" class="form-horizontal" id="frmSearchDetailAdminAccountStatistic">
                <div class="row-fluid">
                    <div class="span12">
                        <select name="GroupId" class="chosen span3">
                            @foreach(var item in Model.LstGroup)
                            {
                                <option value="@item.Key"> @item.Value </option>
                            }
                        </select>
                        <select name="AssignTo" class="chosen span3" dataplaceholder="--Customer is Cared By--" tabindex=2>
                            @foreach(var item in Model.LstUser)
                            {
                                <option value="@item.Key"> @item.Value </option>
                            }
                        </select>
                        <select name="ActivedStatus" class="chosen span3">
                            <option value="0">--All status--</option>
                            <option value="1">Active</option>
                            <option value="2">Inactive</option>
                        </select>
                        <div id="divStartDate" class="chzn-container chzn-container-single" >
                            <div class="block overflow-hidden input-append date date-picker" data-date-format="dd/mm/yyyy" data-date-viewmode="years">
                                <input class="m-wrap m-ctrl-medium valign-base" size="16" type="text" value="@startDate.ToString("dd/MM/yyyy")" placeholder="--Creation date ranged from--" name="TimeToCreationFrom" tabindex="8" />
                                <span class="add-on"><i class="icon-remove"></i></span>
                                <span class="add-on"><i class="icon-calendar"></i></span>
                            </div>
                        </div>
                        <div id="divEndDate" class="chzn-container chzn-container-single" style="margin-top:5px !important;">
                            <div class="block overflow-hidden input-append date date-picker" data-date-format="dd/mm/yyyy" data-date-viewmode="years">
                                <input class="m-wrap m-ctrl-medium valign-base" size="16" type="text" value="@endDate.ToString("dd/MM/yyyy")" placeholder="--Creation date ranged to--" name="TimeToCreationTo" tabindex="9" />
                                <span class="add-on"><i class="icon-remove"></i></span>
                                <span class="add-on"><i class="icon-calendar"></i></span>
                            </div>
                        </div>
                        <div class="chzn-container chzn-container-single">
                            <div class="block overflow-hidden">
                                <button name="search" type="button" class="btn green valign-base" tabindex="10" title="Search Customer">
                                    <i class="m-icon-swapright m-icon-white"></i>
                                    Search
                                </button>
                                <button name="reset" type="button" class="btn green valign-base" tabindex="11" title="Reset search form">
                                    <i class="icon-refresh"></i>
                                    Reset
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="row-fluid" id="divBodyListDetailAdminAccountStatistic">
    <div class="portlet box blue">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-reorder"></i>
                Report
            </div>
            <div class="tools">
                <a href="javascript:;" class="collapse"></a>
                <a href="javascript:;" class="reload"></a>
                <a href="javascript:;" class="remove" id="lnkRemoveListDetailAdminAccountStatistic"></a>
            </div>
        </div>
        <div class="portlet-body forget-form">
            <div class="clearfix"></div>
            <div class="dataTables_wrapper form-inline" id="divListDetailAdminAccountStatistic">

            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    app.initDateTimePickers();
    app.initPortletTools();
    app.initChoosenSelect($('#frmSearchDetailAdminAccountStatistic'));
    sysfile.load("/Content/assets/scripts/views/DetailAdminAccountStatistic.js", function () {
        detail_admin_account_statistic_index.init();
    });
</script>