﻿@using BCRM.BXH.ThaiLand.Library
@using BCRM.BXH.ThaiLand.Models
@model List<DetailAdminAccountStatisticSearchModel>
@{
    Layout = null;
    var index = 1;
}
<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th class="w20">#</th>
            <th>Fullname</th>
            <th>Email</th>
            <th>Phone number </th>
            <th>Date of creation</th>
            <th>Sum of posting news</th>
            <th>Actived</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@(index++)</td>
                <td>@item.FullName </td>
                <td>@item.Email </td>
                <td>@item.PhoneNumber </td>
                <td>@item.CreatedDate.ToString("dd/MM/yyyy HH:mm:ss")  </td>
                <td style="text-align:center;" >@item.NumberOfPostingNews  </td>
                <td>
                    @if(item.ActiveStatus == CustomerAccountActiveStatus.Actived.GetHashCode())
                    {
                        <span class="label label-success">Actived </span>
                    }
                    else
                    {
                        <span class="label label-default">Nonactived </span>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
