﻿@using BCRM.BXH.ThaiLand.Entity
@using BCRM.BXH.ThaiLand.Models
@using BCRM.BXH.ThaiLand.Library
@model CrawlerCustomerSuccessContactModel
@{
    Layout = null;
    var currentUser = (UserAuthenticateModel)ViewBag.CurrentUser;
    var lstCity = (List<City>)ViewBag.ListCity;
    var lstRegion = (List<Region>)ViewBag.ListRegion;
    var listCompany = (List<Company>)ViewBag.ListCompany;
    var listPhone = (List<string>)ViewBag.LstPhone;
}
<div class="portlet box blue">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-plus"></i> Confirmation of successfull contact
        </div>
        <div class="tools">
            <a href="javascript:;" class="collapse"></a>
            <a href="javascript:;" class="remove" id="lnkRemoveSuccessContact" control-relation='lnkRemoveListCustomer'></a>
        </div>
    </div>
    <div class="portlet-body forget-form">
        <form action="#" id="frmSuccessContact" class="form-horizontal">
            <div class="row-fluid">
                <div class="span6">
                    <div class="control-group">
                        <label class="control-label" for="txtFullName">
                            FullName <span class="required">*</span>
                        </label>
                        <div class="controls">
                            <input name="FullName" maxlength="200" value="@Model.FullName" type="text" class="m-wrap span12" data-trigger="hover" />
                        </div>
                    </div>
                </div>
                <div class="span6">
                    <div class="control-group">
                        <label class="control-label" for="txtPhoneNumber">
                            PhoneNumber <span class="required">*</span>
                        </label>
                        <div class="controls input-icon">
                            <select name="PhoneNumber" class="m-wrap span12" data-placeholder="--Phone Number--">
                                @foreach (var phoneItem in listPhone)
                                {
                                    <option value="@phoneItem">@phoneItem</option>
                                }
                            </select>
                            
                            @*<input name="PhoneNumber" type="number" maxlength="15" value="@Model.PhoneNumber" class="m-wrap phone-number span12" />*@
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span6">
                    <div class="control-group">
                        <label class="control-label" for="ddlType">
                            Type Of Customer <span class="required">*</span>
                        </label>
                        <div class="controls">
                            @Html.DropDownList("Type", new SelectList(Helper.ListTypeOfCustomerName(), "Key", "Value"), new { @class = "m-wrap span12" })
                        </div>
                    </div>
                </div>
                <div class="span6">
                    <div class="control-group">
                        <label class="control-label" for="txtAssignTo">
                            Assign To
                        </label>
                        <div class="controls">
                            <input name="AssignTo" value="@Model.AssignTo" type="text" class=" m-wrap popovers span12" value="" readonly="readonly" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span6">
                    <div class="control-group">
                        <label class="control-label" for="ddlCity">
                            Region <span class="required">*</span>
                        </label>
                        <div class="controls">
                            <select name="RegionId" class="m-wrap span12" data-placeholder="--Region--">
                                @foreach (var region in lstRegion)
                                {
                                    <option value="@region.Id">@region.Name</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
                <div class="span6">
                    <div class="control-group">
                        <label class="control-label" for="ddlCity">
                            Province/City <span class="required">*</span>
                        </label>
                        <div class="controls">
                            <select name="CityId" class="m-wrap span12" data-placeholder="--City--">
                                <option value="">--Province--</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span6">
                    <div class="control-group">
                        <label class="control-label" for="ddlDistrict">
                            District
                        </label>
                        <div class="controls">
                            <select name="DistrictId" class="m-wrap span12" data-placeholder="--District--">
                                <option value="">--District--</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="span6">
                    <div class="control-group">
                        <label class="control-label" for="txtAddress">
                            Address <span class="required">*</span>
                        </label>
                        <div class="controls">
                            <input name="Address" value="@Model.Address" type="text" class="m-wrap span12" />
                            @*@Html.TextBoxFor(m => m.Address, new { id = "txtAddress", @class = "m-wrap span12" })*@
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span6">
                    <div class="control-group">
                        <label class="control-label" for="txtEmail">
                            Email
                        </label>
                        <div class="controls">
                            <div class="input-icon left">
                                <i class="icon-envelope"></i>
                                <input type="text" name="Email" value="@Model.Email" placeholder="Email Address" class="m-wrap span12" />

                                @*@Html.TextBoxFor(m => m.Email, new { id = "txtEmail", @class = "m-wrap span12", placeholder = "Email Address" })*@
                            </div>
                        </div>
                    </div>
                </div>
                <div class="span6">
                    <div class="control-group">
                        <label class="control-label" for="ddlCompany">
                            Company
                        </label>
                        <div class="controls">
                            @*<select name="CompanyId" class="m-wrap span12" data-placeholder="--Company--"></select>*@

                            <select name="CompanyId" class="m-wrap span12" data-placeholder="--Company--">
                                <option value="0">--Company--</option>
                                @foreach (var item in listCompany)
                                {
                                    <option value="@item.Id">@item.Name</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-fluid">

            </div>
            <div class="row-fluid">
                <div class="span12">
                    <div class="control-group">
                        <label class="control-label" for="txaDescription">
                            Description
                        </label>
                        <div class="controls">
                            @Html.TextArea("Description", new { id = "txaDescription", @class = "ckeditor m-wrap span12", rows = "6" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-actions">
                <div class="span12">
                    <button type="button" data-adminid="@Model.CrawlerId" data-carehistoryid="@Model.CareHistoryId"  name="save" class="btn blue" title="Save">
                        <i class="icon-save"></i>
                        Confirm
                    </button>
                    <button type="button" name="close" class="btn blue" title="Close">
                        <i class="icon-remove"></i>
                        Cancel
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
