﻿@using BCRM.BXH.ThaiLand.Models
@model CrawlerCustomerIndexModel
@{
    Layout = null;
    var currUser = (UserAuthenticateModel)ViewBag.CurrentUser;
}
<div class="row-fluid">
    <div class="span12">
        <h3 class="page-title">
            Crawler Customer File
            <small>Managing Crawler Customer</small>
        </h3>
        <ul class="breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="/">Home</a>
                <i class="icon-angle-right"></i>
            </li>
            <li><a href="#">Crawler Customer File</a></li>
        </ul>
    </div>
</div>
<div class="row-fluid">
    <div class="portlet box green">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-cogs"></i>
                Search Box
            </div>
            <div class="tools">
                <a href="javascript:;" class="collapse"></a>
            </div>
        </div>
        <div class="portlet-body forget-form">
            <form action="#" class="form-horizontal" id="frmSearchCrawlerCustomer">
                <div class="row-fluid">
                    <div class="span3">
                        @Html.TextAreaFor(m => m.FilterKeyword, new { @class = "span12 m-wrap h110 mgb4", id = "txtFilterKeyword", placeholder = "--Keyword--", tabindex = "1", rows = "1" })
                    </div>
                    <div class="span9">
                        <select name="AssignTo" class="chosen span3" dataplaceholder="--Customer is Cared By--" tabindex=2>
                            <option value="-1">--All visible customers--</option>
                            <option value="0">--Unassigning sale--</option>
                            @foreach (var userItem in Model.LstUser)
                            {
                                <option value="@userItem.UserName">@userItem.UserName</option>
                            }
                        </select>
                        <select name="Status" class="chosen span3" dataplaceholder="--status--" tabindex=2>
                            <option value="-1">--All status--</option>
                            <option value="0">No contact</option>
                            <option value="2">Reject</option>
                        </select>
                        <div id="divStartDate" class="chzn-container chzn-container-single">
                            <div class="block overflow-hidden input-append date date-picker" data-date-format="dd/mm/yyyy" data-date-viewmode="years">
                                <input class="m-wrap m-ctrl-medium valign-base" size="16" type="text" value="" placeholder="--Creation date ranged from--" name="DateOfCreationFrom" tabindex="8" />
                                <span class="add-on"><i class="icon-remove"></i></span>
                                <span class="add-on"><i class="icon-calendar"></i></span>
                            </div>
                        </div>
                        <div id="divEndDate" class="chzn-container chzn-container-single">
                            <div class="block overflow-hidden input-append date date-picker" data-date-format="dd/mm/yyyy" data-date-viewmode="years">
                                <input class="m-wrap m-ctrl-medium valign-base" size="16" type="text" value="" placeholder="--Creation date ranged to--" name="DateOfCreationTo" tabindex="9" />
                                <span class="add-on"><i class="icon-remove"></i></span>
                                <span class="add-on"><i class="icon-calendar"></i></span>
                            </div>
                        </div>
                        <div class="chzn-container chzn-container-single">
                            <div class="block overflow-hidden">
                                <button name="search" type="button" class="btn green valign-base" tabindex="10" title="Search Customer">
                                    <i class="m-icon-swapright m-icon-white"></i>
                                    Search
                                </button>
                                <button name="reset" type="button" class="btn green valign-base" tabindex="11" title="Reset search form">
                                    <i class="icon-refresh"></i>
                                    Reset
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="row-fluid" id="divBodyListCrawlerCustomer">
    <div class="portlet box blue">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-reorder"></i>
                List Crawler Customer
            </div>
            <div class="tools">
                <a href="javascript:;" class="collapse"></a>
                <a href="javascript:;" class="reload"></a>
                <a href="javascript:;" class="remove" id="lnkRemoveListCrawlerCustomer"></a>
            </div>
        </div>
        <div class="portlet-body forget-form">
            <div class="clearfix"></div>
            <div class="dataTables_wrapper form-inline"  id="divListCrawlerCustomer">

            </div>
        </div>
    </div>
</div>

<div class="hide modal fade" id="wrapReceiver">
    @Html.Partial("~/Views/CrawlerCustomer/ReceivePartial.cshtml")
</div>

<div class="hide modal fade" id="wrapNote">
    @Html.Partial("~/Views/CrawlerCustomer/NotePartial.cshtml")
</div>
<div class="hide" id="wrapContactSuccess">
    
</div>

<script type="text/javascript">
    app.initDateTimePickers();
    app.initPortletTools();
    app.initChoosenSelect($('#frmSearchCrawlerCustomer'));
    sysfile.load("/Content/assets/scripts/views/CrawlerCustomer.js", function () {
        crawler_customer_index.init();
    });
</script>