﻿@using BCRM.BXH.ThaiLand.Models
@model CompanyIndexModel 
@{
    Layout = null;
}

<div class="row-fluid" name="tmpHeader">
    <h3 class="page-title">
        Company Manager <small>Management,Informations </small>
    </h3>
    <ul class="breadcrumb">
        <li>
            <i class="icon-home"></i>
            <a href="/">Home</a>
            <i class="icon-angle-right"></i>
        </li>
        <li><a href="#">Companies</a> </li>
    </ul>
</div>
<div class="row-fluid" id="wrapFilterConditionCompany" >
    <div class="portlet box green">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-cogs"></i>
                Search Box
            </div>
            <div class="tools">
                <a href="javascript:;" class="collapse"></a>
            </div>
        </div>
        <div class="portlet-body forget-form">
            <form action="#" class="form-horizontal" id="frmSearchCustomer">
                <div class="row-fluid">
                    @Html.TextAreaFor(m => m.FilterKeyword, new { @class = "span3 m-wrap", name = "filter_keyword", placeholder = "--Keyword--", tabindex = "1", rows = "1" })
                    <select name="city_id" id="selCityId" class="span3 m-wrap chosen" data-placeholder="--City--" tabindex="4">
                        <option value="">--City--</option>
                        @foreach (var city in Model.LstCity)
                        {
                            <option value="@city.Value">@city.Text</option>
                        }
                    </select>
                    <select name="district_id" id="selDistrictId" class="span3 m-wrap chosen" data-placeholder="--District--" tabindex="5">
                        <option value="">--District--</option>
                    </select>
                    <button name="search" type="button" class="btn green" tabindex="10" title="Search Company">
                        <i class="m-icon-swapright m-icon-white"></i>
                        Search
                    </button>
                    <button name="reset" type="button" class="btn green" tabindex="11" title="Reset search form">
                        <i class="icon-refresh"></i>
                        Reset
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="row-fluid" id="divbodyCompany">
    <div class="row-fluid" id="wapListCompany">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-reorder"></i>List of Company
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse"></a>
                    <a href="javascript:;" class="reload"></a>
                    <a href="javascript:;" class="remove" id="lnkRemoveListCompany"></a>
                </div>
            </div>
            <div class="portlet-body forget-form" id="listCompany">
                <div class="clearfix">
                    <div class="btn-group pull-right">
                        @if (Model.IsAdmin)
                        {
                            <button type="button" name="add_company" class="btn blue" href="#wrapCompanyForCreate" data-toggle="modal">
                                <i class="icon-plus"></i>
                                Add new
                            </button>
                        }
                    </div>
                </div>
                <div class="row-fluid" id="divListCompany">
                    
                </div>
            </div>
        </div>
    </div>
</div>

@if (Model.IsAdmin)
{
    <div class="hide modal modal-large" id="wrapCompanyForCreate">

    </div>
}
<div class="hide modal horizontal-form modal-large" id="divGroupForEdit"></div>
<script type="text/javascript" lang="ja">
    app.initChoosenSelect($('#wrapFilterConditionCompany'));

    sysfile.load('/content/assets/scripts/views/company.js', function () {
        var arrCity = [];
        @foreach (var item in Model.LstCity)
        {
            @:arrCity.push({ Value: "@(item.Value)", Text: "@(item.Text)" } )
        }
        company_index.init(arrCity);
    });
</script>