﻿@using BCRM.BXH.ThaiLand.Models
@model List<CompanySearchModel>
@{
    Layout = null;
    var index = 1;
    var isAdmin = (bool)ViewBag.IsAdmin;
}
<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th class="w20">#</th>
            <th class="w200">Company name</th>
            <th>Address </th>
            <th>Phone Number</th>
            <th>City/District</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var compInfo in Model)
        {
            <tr>
                <td>@(index++)</td>
                <td>@compInfo.Name</td>
                <td>@compInfo.Address</td>
                <td>@compInfo.PhoneNumber </td>
                <td>@compInfo.CityName / @compInfo.DistrictName </td>
                <td>
                    @if(isAdmin)
                    {
                        <div class="btn-group none-bottom">
                            <button class="btn w80 blue mini dropdown-toggle" data-toggle="dropdown">
                                <i class="icon-cog"></i>
                                Manager
                                <i class="icon-angle-down"></i>
                            </button>
                            <ul class="dropdown-menu pull-right">
                                <li>
                                    <a class="edit" name="edit" data-id="@compInfo.Id" title="Edit Company Info">
                                        <i class="icon-edit"></i>
                                        Edit
                                    </a>
                                </li>
                                <li>
                                    <a class="delete" name="delete" data-id="@compInfo.Id" title="Delete Company">
                                        <i class="icon-trash"></i>
                                        Delete
                                    </a>
                                </li>
                            </ul>
                        </div>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
@Html.Action("Paging", "Common", new { pager = (Pager)ViewBag.Pager })