﻿@using BCRM.BXH.ThaiLand
@using BCRM.BXH.ThaiLand.Models
@using BCRM.BXH.ThaiLand.Library
@using BCRM.BXH.ThaiLand.Language
@{
    Layout = null;
}
@model CustomerIndexModel
@{
    Layout = null;
    var current = (UserAuthenticateModel)ViewBag.CurrentUser;
    var pager = (Pager)ViewBag.Pager;
    pager.ActionScript = "customer_index.search";
    var isPermit = current.HasRole(RoleSystem.Admin, RoleSystem.Manager);
    var index = 1;
}
<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th class="w20">#</th>
            <th class="w400">@(LanguageRes.Column_Customer_CustomerInfo)</th>
            <th>@(LanguageRes.Column_Customer_Phonenumber)</th>
            <th class="w70">@(LanguageRes.Column_Customer_Creator)</th>
            <th class="w90">@(LanguageRes.Column_Customer_CreationDate) </th>
            <th class="w70">@(LanguageRes.Column_Customer_AssignTo)</th>
            <th class="w60"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cust in Model.ListCustomer)
        {
            <tr>
                <td name="wrapIndex">
                    @(index++)
                </td>
                @if (cust.Id <= 0)
                {
                    <td id="colCustomerInfo">
                        <a href="#">FullName</a>@(": ")
                        <span>
                            New Customer
                        </span>
                    </td>
                    <td id="colStatus"></td>
                    <td id="colPhoneNumber">@cust.PhoneNumber.WrapPhoneNumber()</td>
                    <td id="colAssignTo"></td>
                    <td class="action">
                        <a class="btn mini blue add w60 align-left" title="Add New Customer">
                            <i class="icon-plus"></i>
                            Add New
                        </a>
                    </td>
                }
                else
                {
                    <td id="colCustomerInfo">
                        <a href="#">@(LanguageRes.Lb_CusSearch_FullName)</a>@(": ")
                        <span class="name">
                            @(string.IsNullOrEmpty(cust.FullName) ? "" : cust.FullName)
                        </span>
                        @if (cust.IsDeleted)
                        {
                            <i class="icon-lock" title="this customer is blocked"></i>
                        }

                        @if (cust.IsBlacklist)
                        {
                            <span class="label label-default">Blacklisted</span>
                        }
                        <br />
                        <a href="#">@(LanguageRes.Lb_CusSearch_Email)</a>@(": ")<span class="modify">@cust.Email</span>
                        <br />
                        <a href="#">@(LanguageRes.Lb_CusSearch_Company)</a>@(": ")<span class="modify">@cust.CompanyName</span>
                        <br />
                        <a href="#">@(LanguageRes.Lb_CusSearch_CityDistrict)</a>@(": ")<span class="modify">@(cust.CityName) @(string.IsNullOrEmpty(cust.DistrictName) ? "" : "/" + cust.DistrictName)</span>
                        <br />
                        <a href="#">@(LanguageRes.Lb_CusSearch_NoPostedNews)</a>@(": ") <span class="modify">@cust.SumPostingNews</span>
                        <br />
                        <a href="#">@(LanguageRes.Lb_CusSearch_LastModifiedDate)</a>@(": ")<span class="modify">@(cust.LastModifiedDate == DateTime.MinValue ? "" : string.Format("{0:dd/MM/yyyy}", cust.LastModifiedDate)) </span>
                        @(",")
                        <a href="#">@(LanguageRes.Lb_CusSearch_CareDate)</a>@(": ")<span class="care">@(cust.CareDate == DateTime.MinValue ? "" : string.Format("{0:dd/MM/yyyy}", cust.CareDate) ) </span>
                        <br />
                        <a href="#">@(LanguageRes.Lb_CusSearch_TypeOfCustomer)</a>@(": ")<span class="label type">@(((TypeOfCustomer)cust.Type).ToTypeOfCustomerName())</span>
                    </td>
                    @*<td id="colStatus">
                            @switch (cust.Status)
                            {
                                case (int)CustomerStatus.Success:
                                    <span class="label label-success status">
                                        <i class="icon-ok"></i>
                                        @cust.StatusName
                                    </span>
                                    break;
                                case (int)CustomerStatus.Indecivise:
                                    <span class="label label-info status">
                                        <i class="icon-volume-up"></i>
                                        @cust.StatusName
                                    </span>
                                    break;
                                case (int)CustomerStatus.Waiting:
                                    <span class="label label-warning status">
                                        <i class="icon-flag"></i>
                                        @cust.StatusName
                                    </span>
                                    break;
                                case (int)CustomerStatus.Rejected:
                                    <span class="label label-important status">
                                        <i class="icon-ban-circle"></i>
                                        @cust.StatusName
                                    </span>
                                    break;
                            }
                        </td>*@
                    <td id="colPhoneNumber">
                        @cust.PhoneNumber.WrapPhoneNumber()
                    </td>
                    <td>
                        <a href="#">@cust.CreatedBy</a>
                    </td>
                    <td>
                        <a href="#">@cust.CreatedDate.ToString("dd/MM/yyyy") </a>
                    </td>
                    <td id="colAssignTo" name="wrapAssignTo">
                        <a name="lnkUserInfo" href="#divSaleInfo" data-toggle="modal">@cust.AssignTo</a>
                    </td>
                    <td class="action" name="wrapActions">
                        <div class="btn-group none-bottom">
                            <button class="btn w80 blue mini dropdown-toggle" data-toggle="dropdown">
                                <i class="icon-cog"></i>
                                @(LanguageRes.Act_CusSearch_Manager)
                                <i class="icon-angle-down"></i>
                            </button>
                            <ul class="dropdown-menu pull-right">
                                @if (cust.IsEditable(isPermit, current.UserName))
                                {
                                    <li>
                                        <a class="edit" cid="@cust.Id" title="Edit File Customer">
                                            <i class="icon-edit"></i>
                                            @(LanguageRes.Act_CusSearch_Edit)
                                        </a>
                                    </li>
                                }
                                @if (cust.IsBlockable(isPermit))
                                {
                                    <li>
                                        <a class="lock" cid="@cust.Id" title="Block File Customer">
                                            <i class="icon-lock"></i>
                                            @(LanguageRes.Act_CusSearch_Block)
                                        </a>
                                    </li>
                                }
                                @if (cust.IsUnblockable(isPermit))
                                {
                                    <li>
                                        <a class="unlock" cid="@cust.Id" title="Unblock File Customer">
                                            <i class="icon-unlock"></i>
                                            @(LanguageRes.Act_CusSearch_UnBlock)
                                        </a>
                                    </li>
                                }
                                @if (cust.IsAssigningTo(isPermit))
                                {
                                    <li>
                                        <a class="assignto" href="#wrapAssignTo" data-toggle="modal" cid="@cust.Id" title="Assign to another saler">
                                            <i class="icon-user"></i>
                                            @(LanguageRes.Act_CusSearch_AssignTo)
                                        </a>
                                    </li>
                                }
                                @if (cust.IsBlacklisted(isPermit))
                                {
                                    <li>
                                        <a class="blacklist" cid="@cust.Id" title="Blacklisting this customer">
                                            <i class="icon-book"></i>
                                            @(LanguageRes.Act_CusSearch_Blacklisting)
                                        </a>
                                    </li>

                                }
                                @if (cust.IsUnblacklisted(isPermit))
                                {
                                    <li>
                                        <a class="unblacklist" cid="@cust.Id" title="UnBlacklisting this customer">
                                            <i class="icon-book"></i>
                                            @(LanguageRes.Act_CusSearch_Unblacklisting)
                                        </a>
                                    </li>
                                }
                                @if (cust.IsNoted(isPermit, current.UserName))
                                {
                                    <li>
                                        <a class="note" cid="@cust.Id" href="#wrapNote" data-toggle="modal" title="note">
                                            <i class="icon-edit"></i>
                                            @(LanguageRes.Act_CusSearch_Note)
                                        </a>
                                    </li>
                                }
                                @if (cust.IsViewDetail())
                                {
                                    <li>
                                        <a class="detail" cid="@cust.Id" title="customer detail">
                                            <i class="icon-book"></i>
                                            @(LanguageRes.Act_CusSearch_Detail)
                                        </a>
                                    </li>
                                }
                                @if (cust.IsReceived())
                                {
                                    <li>
                                        <a class="receive" cid="@cust.Id" title="customer detail">
                                            <i class="icon-hand-right"></i>
                                            @(LanguageRes.Act_CusSearch_Receiving)
                                        </a>
                                    </li>
                                }

                                @if (cust.IsReturned(current.UserName))
                                {
                                    <li>
                                        <a name="return" cid="@cust.Id" assname="@cust.AssignTo" title="Return Customer">
                                            <i class="icon-hand-right"></i> 
                                            @(LanguageRes.Act_CusSearch_Return)
                                        </a>
                                    </li>
                                }

                            </ul>
                        </div>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
@Html.Action("Paging", "Common", new { pager = pager })
