﻿<div class="footer">
    @DateTime.Now.Year &copy; BCRM BXH THAILAND.
    <div class="span pull-right">
        <span class="go-top">
            <i class="icon-angle-up"></i>
        </span>
    </div>
</div>