﻿@using BCRM.BXH.ThaiLand.Models
@model List<AdminAccountStatisticSearchModel>
@{
    Layout = null;
    var index = 1;
}
<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th class="w20">#</th>
            <th>Username</th>
            <th>Fullname</th>
            <th>Email</th>
            <th>Phone number </th>
            <th>Group</th>
            <th>Sum of received customer</th>
            <th>Sum of created customer</th>
            <th>Success rate</th>
            <th>Sum of actived customer </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@(index++)</td>
                <td>@item.UserName </td>
                <td>@item.FullName </td>
                <td>@item.Email  </td>
                <td>@item.PhoneNumber  </td>
                <td>@item.GroupName </td>
                <td>@item.SumReceivedCustomer </td>
                <td>@item.SumSuccessContact </td>
                <td>@item.DisplayRateSuccess </td>
                <td>@item.SumActivedSiteCustomer  </td>
            </tr>
        }
    </tbody>
</table>
