﻿@using BCRM.BXH.ThaiLand.Language
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
    <h3 id="lblDetailEvent">@LanguageRes.BoxTitle_Note</h3>
</div>
<div class="modal-body">
    <div class="row-fluid">
        <div class="control-group">
            <label class="control-label">
                @LanguageRes.BoxTitle_Note <span class="required">*</span>
            </label>
            <div class="controls">
                <textarea name="note" class="m-wrap span12" cols="5" rows="5"></textarea>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" name="save" class="btn blue">
        <i class="icon-save"></i> @LanguageRes.Button_Save
    </button>
    <button type="button" name="close" class="btn blue" data-dismiss="modal" aria-hidden="true" title="Close">
        <i class="icon-remove"></i> @LanguageRes.Button_Close
    </button>
</div>