﻿@using BCRM.BXH.ThaiLand.Models
@using BCRM.BXH.ThaiLand.Language
@model List<CrawlerCustomerSearchModel>
@{
    Layout = null;
    var pager = (Pager)ViewBag.Pager;
    var index = 1;
    var curUser = (UserAuthenticateModel)ViewBag.CurrUser;
}

<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th class="w20">#</th>
            <th>@(LanguageRes.Column_CrawlerCus_CustomerInfo)</th>
            <th class="w70">@(LanguageRes.Column_CrawlerCus_Status)</th>
            <th class="w200">@(LanguageRes.Column_CrawlerCus_PhoneNumber)</th>
            <th class="w140">@(LanguageRes.Column_CrawlerCus_Note)</th>
            <th class="w90">@(LanguageRes.Column_CrawlerCus_CreationDate) </th>
            <th class="w70">@(LanguageRes.Column_CrawlerCus_AssignTo)</th>
            <th class="w60"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@(index++)</td>
                <td>
                    <a href="#">@(LanguageRes.Lbl_CrawlerCus_FullName) :</a>
                    <span class="name" name="wrapFullName">
                        @(string.IsNullOrEmpty(item.FullName) ? "" : item.FullName )
                    </span>
                    <br />
                    <a href="#">@(LanguageRes.Lbl_CrawlerCus_Email) :</a>
                    <span class="modify" name="wrapEmail">
                        @item.Email
                    </span>
                    <br />
                    <a href="#">@(LanguageRes.Lbl_CrawlerCus_Address) :</a>
                    <span class="modify" name="wrapAddress">
                        @item.Address
                    </span>
                    <br />
                    <a href="#">@(LanguageRes.Lbl_CrawlerCus_PostingNews) :</a>
                    <span class="modify">
                        @item.CrawleredPostingNews
                    </span>
                </td>
                <td name="wrapStatus">
                    @if (item.Status == 0)
                    {
                        <span class="label label-warning status">
                            <i class="icon-flag"></i>
                            No contact
                        </span>
                    }
                    else if (item.Status == 1)
                    {
                        <span class="label label-important status">
                            <i class="icon-ban-circle"></i>
                            Reject
                        </span>
                    }
                    else if(item.Status == 2)
                    {
                        <span class="label label-success status">
                            <i class="icon-ok"></i>
                            Success
                        </span>
                    }
                </td>
                <td name="wrapPhoneNumber" style="max-width:300px;word-wrap:break-word;">
                    @item.PhoneNumber
                </td>
                <td name="wrapNoted" style="max-width:140px;word-wrap:break-word;">
                    @item.Note
                </td>
                <td>
                    @item.CreatedDate.ToString("dd/MM/yyyy")
                </td>
                <td name="wrapAssignTo">
                    @item.AssignTo
                </td>
                <td name="wrapAction" >
                    <div class="btn-group none-bottom">
                        <button class="btn w80 blue mini dropdown-toggle" data-toggle="dropdown">
                            <i class="icon-cog"></i>
                            @(LanguageRes.Act_CrawlerSearch_Manager)
                            <i class="icon-angle-down"></i>
                        </button>
                        <ul class="dropdown-menu pull-right">
                            @if(string.IsNullOrEmpty(item.AssignTo) )
                            {
                            <li>
                                <a name="receive" data-adminid="@item.AdminId" title="Receive Crawler Customer">
                                    <i class="icon-edit"></i>
                                    @(LanguageRes.Act_CrawlerSearch_Receive)
                                </a>
                            </li>
                            }
                            else if(item.IsUpdatePhoningStatus(curUser.UserName))
                            {
                                <li>
                                    <a name="contactsuccess" data-adminid="@item.AdminId" data-carehistoryid="@item.CareHistoryId" title="Receive Crawler Customer">
                                        <i class="icon-ok"></i>
                                        @(LanguageRes.Act_CrawlerSearch_ContactSuccess)
                                    </a>
                                </li>
                                <li>
                                    <a name="contactfailure" data-adminid="@item.AdminId" data-carehistoryid="@item.CareHistoryId" title="Receive Crawler Customer">
                                        <i class="icon-remove"></i>
                                        @(LanguageRes.Act_CrawlerSearch_ContactFailure)
                                    </a>
                                </li>
                                <li>
                                    <a name="return" data-adminid="@item.AdminId" data-carehistoryid="@item.CareHistoryId" title="Return Customer">
                                        <i class="icon-hand-right"></i>
                                        @(LanguageRes.Act_CrawlerSearch_Return)
                                    </a>
                                </li>
                            }
                            @if(!string.IsNullOrEmpty(item.AssignTo)   )
                            {
                                <li>
                                    <a name="note" data-adminid="@item.AdminId" data-carehistoryid="@item.CareHistoryId" href="#wrapNote" data-toggle="modal" title="note">
                                        <i class="icon-book"></i>
                                        @(LanguageRes.Act_CrawlerSearch_Note)
                                    </a>
                                </li>
                            }
                            
                        </ul>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

@Html.Action("Paging", "Common", new { pager = pager })