﻿@using BCRM.BXH.ThaiLand.Models
@model List<GroupIndexModel>
@{
    Layout = null;
    var count = 0;
}
<table class="table table-hover table-striped" width="100%">
    <thead>
        <tr>
            <th class="w20">
                #
            </th>
            <th>
                Group name
            </th>

            <th>
                Leader
            </th>
            <th>
                Description
            </th>
            <th class="w280"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            count++;
            <tr>
                <td>@count </td>
                <td>@item.Name </td>
                <td>@item.LeaderName </td>
                <td>@item.Description </td>
                <td>
                    @if(item.IsEditable)
                    {
                        <a name="btnEditGroup" href="#divGroupForEdit" class="btn mini blue edit align-left" data-toggle="modal" data-gid="@item.Id">
                            <i class="icon-edit"></i>
                            Edit
                        </a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>