﻿@using BCRM.BXH.ThaiLand.Entity
@using BCRM.BXH.ThaiLand.Models
@using BCRM.BXH.ThaiLand.Language
@model List<GroupIndexModel>
@{
    Layout = null;
    var count = 0;
    var lstUser = (List<Users>)ViewBag.LstUser;
    var curUser = (UserAuthenticateModel)ViewBag.CurrUser;
}
<div class="row-fluid" name="tmpHeader">
    <h3 class="page-title">
        @LanguageRes.GroupManagementTitle
    </h3>
    <ul class="breadcrumb">
        <li>
            <i class="icon-home"></i>
            <a href="/">@LanguageRes.HomeCumTitle</a>
            <i class="icon-angle-right"></i>
        </li>
        <li>
            <a href="#">@LanguageRes.GroupManagementTitle</a> 
        </li>
    </ul>
</div>
<div class="row-fluid" id="divbodyGroup">
    <div class="row-fluid" id="wapListGroup">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-reorder"></i>
                    @LanguageRes.BoxTitle_ListGroups
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse"></a>
                    <a href="javascript:;" class="reload"></a>
                    <a href="javascript:;" class="remove" id="lnkRemoveListGroup"></a>
                </div>
            </div>
            <div class="portlet-body forget-form" id="listGroup">
                <div class="clearfix">
                    <div class="btn-group pull-right">
                        @if (curUser.HasRole(RoleSystem.Admin))
                        {
                            <button type="button" id="btnAddGroup" class="btn blue" href="#divGroupForCreate" data-toggle="modal">
                                <i class="icon-plus"></i>
                                @LanguageRes.Button_AddNew
                            </button>
                        }
                    </div>
                </div>
                <div class="row-fluid" id="divListGroup">
                    <table class="table table-hover table-striped" width="100%">
                        <thead>
                            <tr>
                                <th class="w20">
                                    #
                                </th>
                                <th>
                                    @LanguageRes.Column_GroupSearch_Name
                                </th>
                                <th>
                                    @LanguageRes.Column_GroupSearch_Leader
                                </th>
                                <th>
                                    @LanguageRes.Column_GroupSearch_Description
                                </th>
                                <th class="w280"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                count++;
                                <tr>
                                    <td>@count </td>
                                    <td>@item.Name </td>
                                    <td>@item.LeaderName </td>
                                    <td>@item.Description </td>
                                    <td>
                                        @if (item.IsEditable)
                                        {
                                            <a name="btnEditGroup" href="#divGroupForEdit" class="btn mini blue edit align-left" data-toggle="modal" data-gid="@item.Id">
                                                <i class="icon-edit"></i>
                                                @LanguageRes.Button_Edit
                                            </a>
                                        }
                                    
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="hide modal horizontal-form modal-large" id="divGroupForCreate"></div>
<div class="hide modal horizontal-form modal-large" id="divGroupForEdit"></div>
<script type="text/javascript" lang="ja">
    sysfile.load('/content/assets/scripts/views/groups.js', function () {
        var lang_resource = {
            title_add :'@(LanguageRes.BoxTitle_AddGroup)',
            title_edit :'@(LanguageRes.BoxTitle_EditGroup)',
            lb_group_name : '@(LanguageRes.Lbl_AddGroup_Name)',
            lb_group_alias :'@(LanguageRes.Lbl_AddGroup_Alias)',
            lb_group_leader :'@(LanguageRes.Lbl_AddGroup_Leader)',
            lb_group_priority :'@(LanguageRes.Lbl_AddGroup_Priority)',
            lb_group_description :'@(LanguageRes.Lbl_AddGroup_Description)',
            button_reset :'@(LanguageRes.Button_Reset)',
            button_close :'@(LanguageRes.Button_Close)',
            button_addnew :'@(LanguageRes.Button_AddNew)',
            button_edit: '@(LanguageRes.Button_Edit)',
            option_non_leader :'@(LanguageRes.Option_GroupSave_NoLeader)'
        };

        var leaderArray = [];

        @foreach (var item in lstUser)
        {
            @:leaderArray.push({ Value: "@(item.Id)", Text: "@(item.UserName)" });
        }
        group_index.init(leaderArray, lang_resource);
    });
</script>

